.notification {
    color: green;
    background-color: lightgray;
    font-size: 16px;
    border: 1px solid;
    padding: 5px;
    margin-bottom: 15px;
}
.form {
    margin: 5px 0;
}
.button {
    margin-left: 5px;
}